{% load staticfiles %}

<link rel="stylesheet" href="{% static "style/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.classycountdown.min.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox-buttons.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox-thumbs.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "style/scroll-down.css" %}">
<link rel="stylesheet" href="{% static "style/slick-theme.css" %}">
<link rel="stylesheet" href="{% static "style/slick.css" %}">
<link rel="stylesheet" href="{% static "style/main.css" %}">



<!--room-->
    <div class="container">
        <a id="room"></a>
        <div class="row visible-lg">
            <div class="hotel-rooms">
                {% for txt in BannerTextRooms %}
                    <p>{{ txt.banner_text }}</p>
                {% endfor %}
            </div>
            <div class="rooms-block">
                <h2 class="header">Категории номеров в отеле Reikartz Карпаты:</h2>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs rooms-class col-sm-12 col-md-10 col-md-offset-1" role="tablist" data-tabs="tabs">
                    <li role="presentation" class="active col-md-2"><a href="#room_category1" aria-controls="room_category1" role="tab" data-toggle="tab">Классик</a></li>
                    <li role="presentation" class="col-md-2"><a href="#room_category2" aria-controls="room_category2" role="tab" data-toggle="tab">Классик Twin</a></li>
                    <li role="presentation" class="col-md-2"><a href="#room_category3" aria-controls="room_category3" role="tab" data-toggle="tab">Стандарт</a></li>
                    <li role="presentation" class="col-md-2"><a href="#room_category4" aria-controls="room_category4" role="tab" data-toggle="tab">Супериор</a></li>
                    <li role="presentation" class="col-md-2"><a href="#room_category5" aria-controls="room_category5" role="tab" data-toggle="tab">Полулюкс</a></li>
                    <li role="presentation" class="col-md-2"><a href="#room_category6" aria-controls="room_category6" role="tab" data-toggle="tab">Люкс</a></li>
                </ul>
                <div class="clearfix"></div>
                <!-- Tab panes -->
                <div class="tab-content rooms">
                    <div id="room_category1" class="room-wrap tab-pane fade in active" role="tabpanel" data-thumb="image/111.jpg" data-name="Классик">
                        <h3>Номер «Классик»</h3>
                        <p>1 односпальная кровать (900*2000) / мини-бар / мини-сейф  / фен / кондиционер телевизор / Wi-Fi / спутниковое ТВ  / телефон / рабочий стол / шкаф / ванная комната с душевой кабиной</p>
                        <button class="room-gallery" data-dismiss="modal" data-toggle="modal" data-target="#room_modal" data-room-id="room_category1">
                            <span>Посмотреть фотографии</span>
                        </button>
                        <div class="season">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs myTabs" role="tablist">
                                <li role="presentation" class="active"><a href="#classik-jan" aria-controls="classik-jan" role="tab" data-toggle="tab">Январь <br> 2017</a></li>
                                <li role="presentation"><a href="#classik-feb" aria-controls="classik-feb" role="tab" data-toggle="tab">Февраль 2017</a></li>
                                <li role="presentation"><a href="#classik-march" aria-controls="classik-march" role="tab" data-toggle="tab">Март <br> 2017</a></li>
                                <li role="presentation"><a href="#classik-apr" aria-controls="classik-apr" role="tab" data-toggle="tab">Апрель 2017</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="classik-jan" data-name="Январь 2016">
                                    <table>
                                        <tr style="display: block">
                                            <td class="seats" style="display: block">Одноместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr style="display: block">
                                            <td class="seats-price" style="display: block">844</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="classik-feb" data-name="Февраль 2016">
                                    <table>
                                        <tr style="display: block">
                                            <td class="seats" style="display: block">Одноместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr style="display: block">
                                            <td class="seats-price" style="display: block">767</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="classik-march" data-name="Март 2017">
                                    <table>
                                        <tr style="display: block">
                                            <td class="seats" style="display: block">Одноместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr style="display: block">
                                            <td class="seats-price" style="display: block">767</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="classik-apr" data-name="Апрель 2017">
                                    <table>
                                        <tr style="display: block">
                                            <td class="seats" style="display: block">Одноместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr style="display: block">
                                            <td class="seats-price" style="display: block">767</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="hide gallery-room room_category1">
                            <div>
                                <h4>Номер «Классик»</h4>
                                <img src="image/classick1.jpg" alt="">
                            </div>
                            <div>
                                <h4>Номер «Классик»</h4>
                                <img src="image/classick2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div id="room_category2" class="room-wrap tab-pane fade" role="tabpanel" data-thumb="image/111.jpg" data-name="Классик Twin">
                        <h3>Номер «Классик Twin»</h3>
                        <p>2 односпальные кровати (900*2000) / мини-бар / мини-сейф / фен / телевизор / Wi-Fi / спутниковое ТВ / телефон рабочий стол / шкаф / ванная комната с душевой кабиной / мансардное окно</p>
                        <button class="room-gallery" data-dismiss="modal" data-toggle="modal" data-target="#room_modal" data-room-id="room_category2">
                            <span>Посмотреть фотографии</span>
                        </button>
                        <div class="season">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs myTabs" role="tablist">
                                <li role="presentation" class="active"><a href="#classiktw-jan" aria-controls="classik-jan" role="tab" data-toggle="tab">Январь <br> 2017</a></li>
                                <li role="presentation"><a href="#classiktw-feb" aria-controls="classik-feb" role="tab" data-toggle="tab">Февраль 2017</a></li>
                                <li role="presentation"><a href="#classiktw-march" aria-controls="classik-march" role="tab" data-toggle="tab">Март <br> 2017</a></li>
                                <li role="presentation"><a href="#classiktw-apr" aria-controls="classik-apr" role="tab" data-toggle="tab">Апрель 2017</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="classiktw-jan" data-name="Январь 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">844</td>
                                            <td class="seats-price">1174</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="classiktw-feb" data-name="Февраль 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">767</td>
                                            <td class="seats-price">1067</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="classiktw-march" data-name="Март 2017">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">767</td>
                                            <td class="seats-price">1067</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="classiktw-apr" data-name="Апрель 2017">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">767</td>
                                            <td class="seats-price">1067</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="hidden gallery-room room_category2">
                            <div>
                                <h4>Номер «Классик Twin»</h4>
                                <img src="image/classick-twin-1.jpg" alt="">
                            </div>
                            <div>
                                <h4>Номер «Классик Twin»</h4>
                                <img src="image/classick-twin-2.jpg" alt="">
                            </div>
                            <div>
                                <h4>Номер «Классик Twin»</h4>
                                <img src="image/classick-twin-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div id="room_category3" class="room-wrap tab-pane fade" role="tabpanel" data-thumb="image/111.jpg" data-name="Стандарт">
                        <h3>Номер «Стандарт»</h3>
                        <p>2 односпальные (900*2000) или 1 двуспальная кровать (1800*2000) / мини-бар / мини-сейф / фен / кондиционер телевизор / спутниковое ТВ / Wi-Fi / телефон / рабочий стол / шкаф / ванная комната с душевой кабиной / балкон</p>
                        <button class="room-gallery" data-dismiss="modal" data-toggle="modal" data-target="#room_modal" data-room-id="room_category3">
                            <span>Посмотреть фотографии</span>
                        </button>
                        <div class="season">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs myTabs" role="tablist">
                                <li role="presentation" class="active"><a href="#standart-jan" aria-controls="classik-jan" role="tab" data-toggle="tab">Январь <br> 2017</a></li>
                                <li role="presentation"><a href="#standart-feb" aria-controls="classik-feb" role="tab" data-toggle="tab">Февраль 2017</a></li>
                                <li role="presentation"><a href="#standart-march" aria-controls="classik-march" role="tab" data-toggle="tab">Март <br> 2017</a></li>
                                <li role="presentation"><a href="#standart-apr" aria-controls="classik-apr" role="tab" data-toggle="tab">Апрель 2017</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="standart-jan" data-name="Январь 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">917</td>
                                            <td class="seats-price">1247</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="standart-feb" data-name="Февраль 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">834</td>
                                            <td class="seats-price">1134</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="standart-march" data-name="Март 2017">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">834</td>
                                            <td class="seats-price">1134</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="standart-apr" data-name="Апрель 2017">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">834</td>
                                            <td class="seats-price">1134</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="hidden gallery-room">
                            <div>
                                <h4>Стандарт</h4>
                                <img src="image/standart-1.jpg" alt="">
                            </div>
                            <div>
                                <h4>Стандарт</h4>
                                <img src="image/standart-2.jpg" alt="">
                            </div>
                            <div>
                                <h4>Стандарт</h4>
                                <img src="image/standart-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div id="room_category4" class="room-wrap tab-pane fade" role="tabpanel" data-thumb="image/111.jpg" data-name="Супериор">
                        <h3>Номер «Супериор»</h3>
                        <p>2 односпальные (900*2000) или 1 двуспальная кровать (1800*2000) / мини-бар / мини-сейф / фен / кондиционер телевизор / спутниковое ТВ / Wi-Fi / телефон / спальный диван или кресло / журнальный столик / рабочий стол шкаф или гардеробная / ванная комната с душевой кабиной и биде / балкон</p>
                        <button class="room-gallery" data-dismiss="modal" data-toggle="modal" data-target="#room_modal" data-room-id="room_category4">
                            <span>Посмотреть фотографии</span>
                        </button>
                        <div class="season">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs myTabs" role="tablist">
                                <li role="presentation" class="active"><a href="#superior-jan" aria-controls="classik-jan" role="tab" data-toggle="tab">Январь <br> 2017</a></li>
                                <li role="presentation"><a href="#superior-feb" aria-controls="classik-feb" role="tab" data-toggle="tab">Февраль 2017</a></li>
                                <li role="presentation"><a href="#superior-march" aria-controls="classik-march" role="tab" data-toggle="tab">Март <br> 2017</a></li>
                                <li role="presentation"><a href="#superior-apr" aria-controls="classik-apr" role="tab" data-toggle="tab">Апрель 2017</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="superior-jan" data-name="Январь 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">1099</td>
                                            <td class="seats-price">1429</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="superior-feb" data-name="Февраль 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">999</td>
                                            <td class="seats-price">1299</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="superior-march" data-name="Март 2017">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">999</td>
                                            <td class="seats-price">1299</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="superior-apr" data-name="Апрель 2017">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">999</td>
                                            <td class="seats-price">1299</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="hidden gallery-room">
                            <div>
                                <h4>Супериор</h4>
                                <img src="image/superior-1.jpg" alt="">
                            </div>
                            <div>
                                <h4>Супериор</h4>
                                <img src="image/superior-2.jpg" alt="">
                            </div>
                            <div>
                                <h4>Супериор</h4>
                                <img src="image/superior-3.jpg" alt="">
                            </div>
                            <div>
                                <h4>Супериор</h4>
                                <img src="image/superior-4.jpg" alt="">
                            </div>
                            <div>
                                <h4>Супериор</h4>
                                <img src="image/superior-5.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div id="room_category5" class="room-wrap tab-pane fade" role="tabpanel" data-thumb="image/111.jpg" data-name="Полулюкс">
                        <h3>Номер «Полулюкс»</h3>
                        <p>2 односпальные (900*2000) или 1 двуспальная кровать (1800*2000) / мини-бар / мини-сейф / фен / телевизор спутниковое ТВ / Wi-Fi / кондиционер / телефон / спальный диван / журнальный столик / рабочий стол / шкаф ванная комната с душевой кабиной или ванной / в некоторых номерах балкон</p>
                        <button class="room-gallery" data-dismiss="modal" data-toggle="modal" data-target="#room_modal" data-room-id="room_category5">
                            <span>Посмотреть фотографии</span>
                        </button>
                        <div class="season">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs myTabs" role="tablist">
                                <li role="presentation" class="active"><a href="#polulux-jan" aria-controls="classik-jan" role="tab" data-toggle="tab">Январь <br> 2017</a></li>
                                <li role="presentation"><a href="#polulux-feb" aria-controls="classik-feb" role="tab" data-toggle="tab">Февраль 2017</a></li>
                                <li role="presentation"><a href="#polulux-march" aria-controls="classik-march" role="tab" data-toggle="tab">Март <br> 2017</a></li>
                                <li role="presentation"><a href="#polulux-apr" aria-controls="classik-apr" role="tab" data-toggle="tab">Апрель 2017</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="polulux-jan" data-name="Январь 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">1281</td>
                                            <td class="seats-price">1611</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="polulux-feb" data-name="Февраль 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">1165</td>
                                            <td class="seats-price">1465</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="polulux-march" data-name="Март 2017">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">1165</td>
                                            <td class="seats-price">1465</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="polulux-apr" data-name="Апрель 2017">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">1165</td>
                                            <td class="seats-price">1465</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="hidden gallery-room">
                            <div>
                                <h4>Полулюкс</h4>
                                <img src="image/polulux-1.jpg" alt="">
                            </div>
                            <div>
                                <h4>Полулюкс</h4>
                                <img src="image/polulux-2.jpg" alt="">
                            </div>
                            <div>
                                <h4>Полулюкс</h4>
                                <img src="image/polulux-3.jpg" alt="">
                            </div>
                            <div>
                                <h4>Полулюкс</h4>
                                <img src="image/polulux-4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div id="room_category6" class="room-wrap tab-pane fade" role="tabpanel" data-thumb="image/111.jpg" data-name="Люкс">
                        <h3>Номер «Люкс»</h3>
                        <p>2 односпальные (900*2000) или 1 двуспальная кровать (1800*2000) / мини-бар / мини-сейф / фен / телевизор спутниковое ТВ / Wi-Fi / кондиционер / телефон / спальный диван или кресло / журнальный столик / рабочий стол шкаф или гардеробная / ванная комната с ванной и биде / балкон</p>
                        <button class="room-gallery" data-dismiss="modal" data-toggle="modal" data-target="#room_modal" data-room-id="room_category6">
                            <span>Посмотреть фотографии</span>
                        </button>
                        <div class="season">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs myTabs" role="tablist">
                                <li role="presentation" class="active"><a href="#lux-jan" aria-controls="classik-jan" role="tab" data-toggle="tab">Январь <br> 2017</a></li>
                                <li role="presentation"><a href="#lux-feb" aria-controls="classik-feb" role="tab" data-toggle="tab">Февраль 2017</a></li>
                                <li role="presentation"><a href="#lux-march" aria-controls="classik-march" role="tab" data-toggle="tab">Март <br> 2017</a></li>
                                <li role="presentation"><a href="#lux-apr" aria-controls="classik-apr" role="tab" data-toggle="tab">Апрель 2017</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="lux-jan" data-name="Январь 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">1463</td>
                                            <td class="seats-price">1793</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="lux-feb" data-name="Февраль 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">1330</td>
                                            <td class="seats-price">1630</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="lux-march" data-name="Март 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">1330</td>
                                            <td class="seats-price">1630</td>
                                        </tr>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="lux-apr" data-name="Апрель 2016">
                                    <table>
                                        <tr>
                                            <td class="seats">Одноместное размещение
                                                стоимость (грн)</td>
                                            <td class="seats">Двухместное размещение
                                                стоимость (грн)</td>
                                        </tr>
                                        <tr>
                                            <td class="seats-price">1330</td>
                                            <td class="seats-price">1630</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="hidden gallery-room">
                            <div>
                                <h4>Люкс</h4>
                                <img src="image/lux-1.jpg" alt="">
                            </div>
                            <div>
                                <h4>Люкс</h4>
                                <img src="image/lux-2.jpg" alt="">
                            </div>
                            <div>
                                <h4>Люкс</h4>
                                <img src="image/lux-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <form class="get-info" action="" method="POST">
                    <h4>УЗНАТЬ НАЛИЧИЕ И СТОИМОСТЬ НОМЕРОВ НА ВЫБРАННЫЕ ДАТЫ</h4>
                    <p>Получите информацию в течении 2х часов <span>*</span></p>
                    <div class="form-group">
                        <input type="hidden" name="_subject" value="karpaty-uznat nomer i datu" />
                        <input class="room-class" type="hidden" name="room_class" value="" />
                        <input type="text" class="form-control" id="guestName" placeholder="Имя" name="name">
                    </div>
                    <div class="date">
                        <div class="form-group">
                            <input type="text" class="form-control" id="dateIn" placeholder="Дата заезда" name="data_zaezda">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="dateOut" placeholder="Дата выезда" name="data_viezda">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="emailPhone" placeholder="Электронная почта / Телефон" name="telephone/email">
                    </div>
                    <button type="submit" class="btn btn-default" value="Send">получить информацию</button>
                    <i>* В случае заполнения заявки в рабочее время Пн-Пт с 9:00 до 18:00</i>
                </form>
            </div>
            <div class="clearfix"></div>
            <button class="big-button booking hidden-md hidden-lg" data-dismiss="modal" data-toggle="modal" data-target="#bookingModal">Забронировать</button>
            <button class="booking-rules" data-dismiss="modal" data-toggle="modal" data-target="#bookingRules">Правила бронирования</button>
        </div>
        <!--modal mob menu-->
        <div class="modal fade active" id="room_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>


<script src="{% static "js/jquery2.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/slick.min.js" %}"></script>
<script src="{% static "js/jquery.classycountdown.min.js" %}"></script>
<script src="{% static "js/jquery.knob.js" %}"></script>
<script src="{% static "js/jquery.throttle.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $('.countdown').ClassyCountdown({
                        now: Math.round( new Date( ).getTime() / 1000),
                        end: Math.round( new Date( '2016-09-12T00:00Z' ).getTime() / 1000),
                        onEndCallback: function() {},
                        labelsOptions: {
                            lang: {
                                days: 'Дней',
                                hours: 'Часов',
                                minutes: 'Минут',
                                seconds: 'Секунд'
                            }
                        },
                        style: {
                            element: '',
                            labels: false,
                            days: {
                                gauge: {
                                    thickness: 0.2,
                                    bgColor: 'rgba(255, 255, 255, 1)',
                                    fgColor: 'rgba(53, 173, 232, 1)'
                                },
                                textCSS: ''
                            },
                            hours: {
                                gauge: {
                                    thickness: 0.2,
                                    bgColor: 'rgba(255, 255, 255, 1)',
                                    fgColor: 'rgba(53, 173, 232, 1)'
                                }
                            },
                            minutes: {
                                gauge: {
                                    thickness: 0.2,
                                    bgColor: 'rgba(255, 255, 255, 1)',
                                    fgColor: 'rgba(53, 173, 232, 1)'
                                }
                            },
                            seconds: {
                                gauge: {
                                    thickness: 0.2,
                                    bgColor: 'rgba(255, 255, 255, 1)',
                                    fgColor: 'rgba(53, 173, 232, 1)'
                                }
                            }
                        }

                    });

        $('.banner').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            fade: true,
            arrows: true
        });
        var excursion = $('.excursions-wrap').find('.col-md-4');
        for(var i = 0;i < $(excursion).length;i += 6) {
            $(excursion).slice(i, i+6).wrapAll('<div></div>');
        }
        $('.excursions-wrap').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: "unslick"
                }
            ]
        });
        $('.inclusive-wrap').slick({
            infinite: true,
            fade: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: "unslick"
                }
            ]
        });
        $('.gallery-wrap').slick({
            autoplay: true,
            fade: true,
            dots: true,
            customPaging : function(slider, i) {
                var thumb = $(slider.$slides[i]).data('thumb');
                return '<a><img src="'+thumb+'"></a>';
            },
            arrows: false,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        autoplay: false,
                        dots: false,
                        arrows: true,
                        centerMode: true,
                        infinite: true
                    }
                }
            ]
        });

        $(window).resize(function() {
            $('.inclusive-wrap').slick('resize');
            $('.gallery-wrap').slick('resize');
            $('.excursions-wrap').slick('resize');
        });

        var wd = $( document ).width();

        //MODAL rooms + gallery
        $('#room_modal').on('shown.bs.modal', function(e) {

            var same = $(e.relatedTarget).data("room-id"),
                head = $('div#'+same).find('h3').clone(),
                paragraph = $('div#'+same).find('p').clone(),
                    modal= '-modal',
                    season = $('div#'+same).find('.season').clone().each( function () {
                        var tabs = $(this).find('.myTabs').find('a'),
                            idBlock = $(this).find('.tab-content').find('div');
                        for (var i=0;i<tabs.length;i++) {
                            var z = $(tabs[i]).attr('href');
                            var a = $(idBlock[i]).attr('id');
                            $(tabs[i]).attr('href', z+modal);
                            $(idBlock[i]).attr('id', a+modal);
                        }
                    }),
                img = $('div#'+same).find('.gallery-room').find('img').clone(),
                btn = $('.big-button.booking').clone();

            if(wd < 1024) {
                $('#room_modal .modal-body').html(function(){
                    $(this).append(head, paragraph, img, season, btn);
                });
            } else {
                var img1 = $('div#'+same).find('.gallery-room').find('div');
                $('#room_modal .modal-body').html(function(){
                    $(this).append(img1);

                    $('#room_modal .modal-body').slick({
                        slickplay: true,
                        dots: false,
                        arrows: true,
                        responsive: [
                            {
                                breakpoint: 1024,
                                settings: "unslick"
                            }
                        ]
                    });
                    $(window).resize(function() {
                        $('#room_modal .modal-body').slick('resize');
                    });
                });
            }
        });

        $('#room_modal').on('hide.bs.modal', function(e) {
            $('.modal-body').removeClass(' slick-initialized slick-slider');
            $('#room_modal .modal-body').empty();
        });

    });
</script>