{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>tlustiy gusak</title>

    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.png"%}"/>

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/slick.css" %}">
    <link rel="stylesheet" href="{% static "css/slick-theme.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.fancybox.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.fancybox-buttons.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.fancybox-thumbs.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <script src="{% static "js/jquery2.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/slick.min.js" %}"></script>
    <script src="{% static "js/jquery.fancybox.js" %}"></script>
    <script src="{% static "js/jquery.fancybox-buttons.js" %}"></script>
    <script src="{% static "js/jquery.fancybox-media.js" %}"></script>
    <script src="{% static "js/jquery.fancybox-thumbs.js" %}"></script>
</head>