{% load static %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>

    <header>
        <nav class="navbar navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
{#              <a class="navbar-brand logo" href="#"></a>#}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav header-menu">
                <li class="active">
                    <a href="#" class="logo"></a>
                </li>
                <li class="link-wrap">
                    <a href="#about_us" class="link">про нас</a>
                </li>
                <li class="link-wrap">
                    <a href="#gallery" class="link">галерея</a>
                </li>
                  <li class="link-wrap">
                    <a href="#menu" class="link">меню</a>
                </li>
                  <li class="link-wrap">
                    <a href="#contacts" class="link">контакти</a>
                </li>
                  <li class="link-wrap">
                    <a href="#" class="link">uk /</a>
                    <a href="#" class="link">pl /</a>
                    <a href="#" class="link">en /</a>
                    <a href="#" class="link">de</a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </header>
    <div class="header_img_wrap" style="height: 100%">
        <div class="header_img">
            <div class="header-text">
                {% for h in header %}
                    <h1>{{ h.header }}</h1>
                    <h3>{{ h.slug }}</h3>
                {% endfor %}
            </div>
            <div class="order-wrap">
                <div class="order">
                    <a class="text" href="#booking">замовити столик</a>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div class="main-wrap">
            <div class="content-block">
                <div id="about_us" class="about">
                    {% for a in aboutus %}
                        <h2 class="header">{{ a.header }}</h2>
                        <p class="text">{{ a.slug|safe }}</p>
                    {% endfor %}
                    <div class="about-icon"></div>
                </div>
                <div id="gallery" class="gallery">
                    <h2 class="header">світлини</h2>
                    <div class="photogallery">
                        {% for p in gallery %}
                            {% thumbnail p.photo "260x260" crop="center" as im %}
                                <div>
                                    <a class="fancybox" rel="gallery" href="/media/{{ p.photo }}" data-fancybox-group="gallery" title="" tabindex="0">
                                        <img src="{{ im.url }}" alt="">
                                    </a>
                                </div>
                            {% endthumbnail %}
                        {% endfor %}
                      </div>
                    <div class="about-icon"></div>
                </div>
                <div class="video">
                    <h2 class="header">відео з ресторації</h2>
                    <div class="video-block">
                        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTlustiyGusak%2Fvideos%2F550987395098673%2F&show_text=0&width=560" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                    </div>
                    <div class="about-icon"></div>
                </div>
                <div id="menu" class="menu">
                    <h2 class="header">меню</h2>
                    <div class="menu-slider">

                        {% for m in menu %}
                            <div class="menu-wrap">
                                <img width="100%" height="auto" src="/media/{{ m.img }}" alt="menu image">
                                <div class="menu-description">
                                    <h4 class="header">{{ m.name }}</h4>
                                    <p class="text">{{ m.description|safe }}</p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <a class="menu-all" href="https://drive.google.com/file/d/0B76hjd5TRHcmZVE1aDIxeUwxakU/view?usp=sharing" target="_blank">все меню</a>
                </div>
                <div id="booking" class="booking-form">
                    <h2 class="header">замовити столик</h2>
                    <div class="form-wrap">
                        <form method="post" action="{% url 'email_table' %}">
                            {% csrf_token %}
                            <div class="block-wrap">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" id="yourname" placeholder="Ваше ім’я">
                                </div>
                                <div class="form-group group-line">
                                    <input type="text" class="form-control" name="amount" id="amount" placeholder="Кіл-ть гостей">
                                    <input type="text" class="form-control" name="date" id="date" placeholder="Дата">
                                    <input type="text" class="form-control" name="time" id="time" placeholder="Час">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="+380(__)___-__-__">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" name="comment" placeholder="Коментарій"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="booking">замовити столик</button>
                        </form>
                    </div>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.9380923842755!2d24.029650314987244!3d49.8436207387846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add6d400012cb%3A0x4d668d188cf4a07a!2z0KLQu9GD0YHRgtC40Lkg0JPRg9GB0LDQug!5e0!3m2!1sru!2sua!4v1492689708649" width="100%" height="530" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <ul class="info-wrap">
            <li id="contacts" class="list adress">
                <span class="icon-map"></span>
                <p class="text">м. Львів, вулиця Друкарська, 9 (вхід зі сторони вулиці Лесі Українки)</p>
            </li>
            <li class="list phone">
                <span class="icon-phone"></span>
                <p class="text">067 238-04-62</p>
            </li>
            <li class="list schedule">
                <span class="icon-time"></span>
                <p class="text">Нд-Чт: 11:00 - 23:00
                    Пт-Сб: 11:00 - 02:00</p>
            </li>
            <li class="list social">
                <a href="https://www.facebook.com/TlustiyGusak">
                    <span class="icon-social"></span>
                </a>
                <p class="text hidden-md hidden-lg"></p>
            </li>
        </ul>
    </footer>

<script src="{% static "js/main.js" %}"></script>

</body>
</html>
