{% load thumbnail %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static "style/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.classycountdown.min.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox-buttons.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox-thumbs.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "style/scroll-down.css" %}">
<link rel="stylesheet" href="{% static "style/slick-theme.css" %}">
<link rel="stylesheet" href="{% static "style/slick.css" %}">
<link rel="stylesheet" href="{% static "style/main.css" %}">


<!--inclusive-->
    <div class="inclusive visible-lg">
        <a id="hotel-service"></a>
        <div class="container">
            <!--Additional services-->
            <div class="row additional">
                <div class="line"></div>
                {% for inf in FreeHotelServicesHeader %}
                    <h2>{{ inf.header }}</h2>
                {% endfor %}


                <div class="hidden-sm col-md-1"></div>

                {% for short in FreeHotelServices %}
                    <div class="col-xs-6 col-sm-3 col-md-2">
{#                    {% thumbnail short.img "260x260" crop="center" as im %}#}
                        <img src="/media/{{ short.img }}">
{#                    {% endthumbnail %}#}
                    <span>{{ short.teaser }}</span>
                    </div>
                {% endfor %}
{#                    <img src="image/img5.jpg" alt="">#}
{#                    <span>Трехразовое питание «шведская линия»</span>#}

{#                <div class="col-xs-6 col-sm-3 col-md-2">#}
{#                    <img src="image/img7.jpg" alt="">#}
{#                    <span>Бассейн с морской водой</span>#}
{#                </div>#}
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <img src="image/img8.jpg" alt="">
                    <span>Занятия аквааэробикой</span>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <img src="image/img9.jpg" alt="">
                    <span>Веревочный парк – самый крупный в Закарпатье!</span>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <img src="image/img10.jpg" alt="">
                    <span>Финская сауна</span>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1">
                    <img src="image/img11.jpg" alt="">
                    <span>Солярий — идеальный загар круглый год!</span>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <img src="image/img1.jpg" alt="">
                    <span>Фитнес-зал</span>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <img src="image/img2.jpg" alt="">
                    <span>Детская площадка и лабиринт</span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2">
                    <img src="image/img3.jpg" alt="">
                    <span>Настольные игры и творческие занятия</span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2">
                    <img src="image/img4.jpg" alt="">
                    <span>Фильмотека</span>
                </div>
            </div>
            <div class="row">
                <div class="inclusive-wrap">
                    <div>
                        <div class="col-md-4">
                            <img src="image/img1.jpg" alt="">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <h4>Фитнес-зал</h4>
                            <p>Современные силовые и кардиотренажеры,
                                весь необходимый инвентарь, сопровождение тренера
                                во время тренировок. Совместите приятный отдых в горах
                                с полезными занятиями спортом.</p>
                            <p>Гости отеля Reikartz Карпаты могут посещать фитнес-зал каждый день бесплатно и без ограничений.</p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <img src="image/img2.jpg" alt="">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <h4>Детская площадка
                                и лабиринт</h4>
                            <p>Современная и безопасная открытая детская площадка
                                с качелями и горкой.</p>
                            <p>Трёхуровневый мягкий лабиринт для весёлых подвижных игр в детской комнате.</p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <img src="image/img3.jpg" alt="">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <h4>Настольные игры
                                и творческие занятия</h4>
                            <p>Под руководством квалифицированных специалистов дети играют в шахматы и лото, рисуют акварелью и лепят
                                из пластилина, а также читают народные сказки
                                и участвуют в различных мастер-классах.</p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <img src="image/img4.jpg" alt="">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <h4>Фильмотека</h4>
                            <p>Игровая комната оборудована большим плазменным телевизором, на котором дети с удовольствием смогут посмотреть мультфильмы, в комнате есть книги
                                и настольные игры, конструктор и много-много игрушек.
                                Не один час дети смогут провести в огромном лабиринте.
                                А для детей постарше и подростков игротека оснащена современными компьютерами с различными играми и игровыми приставками PlayStation:</p>
                            <ul>
                                <li>- 2 компьютера с различными играми;</li>
                                <li>- PlayStation (2 шт);</li>
                                <li>- Теннисный стол;</li>
                                <li>- Аэрохоккей.</li>
                            </ul>
                            <p>Посещение игротеки бесплатно для проживающих в отеле!</p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <img src="image/img5.jpg" alt="">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <h4>Трехразовое питание «шведская линия»</h4>
                            <p>Кто сказал, что «шведская линия» в украинских отелях только на завтрак? В отеле Reikartz Карпаты вы можете выбирать
                                из широкого ассортимента блюд и напитков на «шведской линии», что отведать, трижды в день!</p>
                            <p>Завтрак, обед и ужин «шведская линия» — оптимальное решение для тех, кто имеет особые предпочтения в еде,
                                так как в меню «шведской линии» входят как питательные
                                и сытные блюда, так и приготовленные на пару
                                или же детские позиции.</p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <img src="image/img6.jpg" alt="">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <h4></h4>
                            <p>Кроме множества услуг, что входят
                                в стоимость проживания, отель Reikartz Карпаты предлагает традиционный
                                и тайский массаж, косметологию, скандинавскую ходьбу, SPA-услуги,
                                тир, велопрокат, прокат санок,
                                экскурсии по Закарпатью.</p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <img src="image/img7.jpg" alt="">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <h4>Бассейн с морской водой</h4>
                            <p>Бассейн с морской водой в «Reikartz Карпаты» – всесезонная альтернатива южным курортам. Не нужно ждать лета,
                                чтобы покупаться на море. Купальный сезон в Карпатах открыт круглый год! Вода в бассейне очищается песчаными фильтрами с электролизной установкой без применения хлора.</p>
                            <p>Размер: 10,7 м Х 5,2 м, глубина от 1.2 м до 2 м
                                Температура воды +26 / +28 градусов, температура воздуха +30 / +36 градусов.</p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <img src="image/img8.jpg" alt="">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <h4>Занятия аквааэробикой</h4>
                            <p>Не любите тренеровки в тренажерном зале, но хотите поддерживать отличую форму?</p>
                            <p>Приходите на занятия по аквааэробике! Каждый день, совершенно беспланто! Вы с удовольствием проведете время, выполняя упражнения под танцевальную музыку
                                в бассейне. Легко и с пользой!</p>
                            <p>Аквааэробика – универсальный спорт для всех, один
                                из немногочисленных видов спорта, который рекомендован людям с проблемами позвоночника.</p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <img src="image/img9.jpg" alt="">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <h4>Веревочный парк – самый крупный в Закарпатье!</h4>
                            <p>Первый заход для всех проживающих бесплатно! Три уровня сложности, защита и страховка, сопровождение тренера. Отличный способ активно провести время практически
                                в любую погоду!</p>
                            <p>Испытайте себя, устройте соревнование на скорость прохождения — позитивные эмоции гарантированы!</p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <img src="image/img10.jpg" alt="">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <h4>Финская сауна</h4>
                            <p>Как приято после активного отдыха провести время в сауне.
                                А если за это еще и не нужно платить — вдвойне приятнее,
                                не правда ли?</p>
                            <p>В SPА-комплексе отеля рядом с бассейном сауна работает
                                для гостей отеля каждый день с 9:00 до 21:00. Просто оформите предварительно бронь на посещение сауны в удобное для вас время и наслаждайтесь ее теплом.</p>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            <img src="image/img11.jpg" alt="">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <h4>Солярий — идеальный загар круглый год!</h4>
                            <p>Прекрасное дополнение к бассейну с морской водой. Вертикальный солярий бесплатно и без ограничений
                                для гостей отеля Reikartz Карпаты.</p>
                            <p>Зачем ехать на Юг, если после отдыха в Карпатах у вас будет такой же несравненный загар и даже лучше.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--gallery-->
    <div class="container">
        <a id="gallery"></a>
        <div class="row">
            <div class="gallery ">
                <div class="line"></div>
                <h2 class="text-center">ФОТОГРАФИИ ОТЕЛЯ REIKARTZ КАРПАТЫ</h2>
                <div class="gallery-wrap">
                    <div data-thumb="image/gallery1.jpg">
                        <span>Отель Reikartz Карпаты</span>
                        <img src="image/gallery1.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery2.jpg">
                        <span>Детская анимация</span>
                        <img src="image/gallery2.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery3.jpg">
                        <span>Бассейн с морской водой</span>
                        <img src="image/gallery3.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery4.jpg">
                        <span>Организация банкетов</span>
                        <img src="image/gallery4.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery5.jpg">
                        <span>Аквааэробика каждый день</span>
                        <img src="image/gallery5.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery6.jpg">
                        <span>Корпус «Скандинавия»</span>
                        <img src="image/gallery6.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery7.jpg">
                        <span>Шведская линия</span>
                        <img src="image/gallery7.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery8.jpg">
                        <span>Тренажерный зал</span>
                        <img src="image/gallery8.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery9.jpg">
                        <span>Финская сауна</span>
                        <img src="image/gallery9.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery10.jpg">
                        <span>Открытый бассейн</span>
                        <img src="image/gallery10.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery11.jpg">
                        <span>Тайский массаж</span>
                        <img src="image/gallery11.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery12.jpg">
                        <span>Европейский дизайн</span>
                        <img src="image/gallery12.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery13.jpg">
                        <span>Природа Карпат</span>
                        <img src="image/gallery13.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery14.jpg">
                        <span>Двухуровневый номер люкс</span>
                        <img src="image/gallery14.jpg" alt="">
                    </div>
                    <div data-thumb="image/gallery15.jpg">
                        <span>Веревочный парк</span>
                        <img src="image/gallery15.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--timer-->
    <div class="timer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <p id="text">Получите подарок от отеля! До конца акции осталось:</p>
                    <button class="big-button" data-toggle="modal" data-target="#giftModal">получить подарок</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="countdown"></div>
                </div>
            </div>
        </div>
    </div>
    <!--guarantee-->
    <div class="guarantee hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="line"></div>
                <h2>НАШИ ГАРАНТИИ</h2>
            </div>
            <ul>
<!--                <li>-->
<!--                    <div class="text-center col-xs-12 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2">-->
<!--                        <img src="image/icon-call.png" alt="">-->
<!--                    </div>-->
<!--                    <div class="col-xs-12 col-sm-8 col-md-8">-->
<!--                        <h6>Персональня поддержка 24/7</h6>-->
<!--                        <p>Хотите задать вопрос или забронировать номер — звоните в любое время: +38 067 556 59 02</p>-->
<!--                    </div>-->
<!--                </li>-->
                <li>
                    <div class="text-center col-xs-12 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2">
                        <img src="image/icon-security.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <h6>Будьте уверенны, Вы в безопасности</h6>
                        <p>Отель находится на охраняемой закрытой территории среди красоты карпатских гор.</p>
                    </div>
                </li>
                <li>
                    <div class="text-center col-xs-12 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2">
                        <img src="image/icon-clean.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <h6>Чистота — залог комфорта</h6>
                        <p>Ежедневная уборка, регулярная смена белья, дезинфекция.</p>
                    </div>
                </li>
                <li>
                    <div class="text-center col-xs-12 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2">
                        <img src="image/4stars.png" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <h6>Европейский сервис уровня 4 звезды</h6>
                        <p>Мы прошли сертификацию государственным органом контроля УкрСЕПРО
                            и получили сертификат соответствия категории 4*.</p>
                    </div>
                </li>
            </ul>
            <a id="hotel-map"></a>
        </div>
    </div>
    <!--hotel-map-->
    <div class="hotel-map hidden-xs hidden-sm">
        <div class="line"></div>
        <div class="container">
            <div class="row">
                <h2>КАРТА ТЕРРИТОРИИ ОТЕЛЯ</h2>
                <div class="col-md-8">
                    <img src="image/hotel-map.jpg" alt="" width="100%">
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <div class="num-wrap">
                                <span class="num">1</span>
                            </div>
                            <div class="map-list">
                                <span>Главный корпус</span>
                                <span>Ресепшн</span>
                                <span>Лоби-бар</span>
                                <span>Ресторан</span>
                                <span>Номерной фонд</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">2</span>
                                </div>
                            <div class="map-list">
                                <span>Прокатный пункт</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">3</span>
                                </div>
                            <div class="map-list">
                                <span>Кальянная</span>
                                <span>Бильярд</span>
                                <span>Детская комната</span>
                                <span>Игровая комната</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">4</span>
                                </div>
                            <div class="map-list">
                                <span>Конференц зал</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">5</span>
                                </div>
                            <div class="map-list">
                                <span>Тир</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">6</span>
                                </div>
                            <div class="map-list">
                                <span>Мангал</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">7</span>
                                </div>
                            <div class="map-list">
                                <span>Летняя площадка</span>
                                <span>Открытый бассейн (в теплое время)</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">8</span>
                                </div>
                            <div class="map-list">
                                <span>Детская площадка</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">9</span>
                                </div>
                            <div class="map-list">
                                <span>Корпус «Скандинавия»</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">10</span>
                                </div>
                            <div class="map-list">
                                <span>Корпус SPA</span>
                                <span>Бассейн</span>
                                <span>Тренажерный зал</span>
                                <span>Массажный кабинет</span>
                                <span>СПА-центр</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">11</span>
                                </div>
                            <div class="map-list">
                                <span>Канатный парк</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">12</span>
                            </div>
                            <div class="map-list">
                                <span>Детский домик</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">13</span>
                            </div>
                            <div class="map-list">
                                <span>Альтанка</span>
                            </div>
                        </li>
                        <li>
                            <div class="num-wrap">
                                <span class="num">14</span>
                            </div>
                            <div class="map-list">
                                <span>Зона отдыха</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <a id="attraction"></a>
            </div>
        </div>
    </div>
    <!--attraction-->
    <div class="container">
        <div class="row">
            <div class="attraction">
                <div class="line"></div>
                <h2>Что посмотреть в Карпатах ?</h2>
                <div class="excursions-wrap">
                    <div class="" >
                        <div class="col-md-4">
                            <img src="image/otduh_v_karpatah.jpg" alt="">
                        </div>
                        <div class="col-md-4">
                            <h3>СИНЕВИРСКОЕ ОЗЕРО</h3>
                            <strong>Это самое большое и самое известное озеро в Украинских Карпатах.</strong>
                            <p>Средняя площадь озера: 4-5 гектаров,
                                а глубина: 8-22 метра.
                                В ходе экскурсии можно посетить Музей деревянных церквей Закарпатья в селе Подобовец.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="image/otduh_v_karpatah1.jpg" alt="">
                        </div>
                        <div class="col-md-4">
                            <h3>БЕРЕГОВО</h3>
                            <strong>Берегово часто называют «украинской Венгрией».</strong>
                            <p>На территории Береговского района находится бассейн с целебной хлоридно-натриевой водой — одно из величайших чудес, известное далеко за пределами Украины. Температура воды в купальнях: +52 °С.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="image/otduh_v_karpatah2.jpg" alt="">
                        </div>
                        <div class="col-md-4">
                            <h3>ВИННЫЕ ПОДВАЛЫ В CРЕДНЕМ</h3>
                            <strong>Подземелья в поселке Среднее  занесены ЮНЕСКО в десятку лучших винных подвалов Европы.</strong>
                            <p>Они также занимают четвертое место
                                в конкурсе «7 архитектурных чудес Закарпатья». Их общая протяженность составляет около 4-х километров. Экскурсии и дегустации вин проводят ежедневно.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="" >
                        <div class="col-md-4">
                        <img src="image/otduh_v_karpatah3.jpg" alt="">
                    </div>
                        <div class="col-md-4">
                            <h3>МУКАЧЕВСКИЙ ЗАМОК «ПАЛАНОК»</h3>
                            <strong>Мукачевский замок занимает первое место в конкурсе «7 архитектурных чудес Закарпатья».</strong>
                            <p>Замок является одним из ценнейших архитектурно-исторических памятников XIV-XVII столетий.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="image/otduh_v_karpatah4.jpg" alt="">
                        </div>
                        <div class="col-md-4">
                            <h3>УЖГОРОДСКИЙ ЗАМОК</h3>
                            <strong>Расположился на втором месте
                                в конкурсе «7 архитектурных чудес Закарпатья».</strong>
                            <p>Это самый старый и один из наиболее сохранившихся средневековых оборонных сооружений на территории Украины.  Внутри крепости расположен замковый двор с 32-метровым колодцем,
                                а прилегает к ним живописный парк.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="image/otduh_v_karpatah5.jpg" alt="">
                        </div>
                        <div class="col-md-4">
                            <h3>РЕЗИДЕНЦИЯ ШЕНБОРНОВ</h3>
                            <strong>Главным украшением поселка Чинадиево считают охотничий дворец графов Шенборнов-Бугеймов.</strong>
                            <p>Построен в первой половине XVIII в. В архитектуре здания воплощена оригинальная идея: количество его окон — 365 — соответствует количеству дней в году; 52 комнаты — количеству недель, а 12 входов — количеству месяцев.</p>
                        </div>
                        <div class="clearfix"></div></div>
                    <div class="" >
                        <div class="col-md-4">
                            <img src="image/otduh_v_karpatah6.jpg" alt="">
                        </div>
                        <div class="col-md-4">
                            <h3>ВОДОПАД «ШИПОТ»</h3>
                            <strong>Водопад «Шипот» считается одной из самых популярных достопримечательностей Закарпатской области.</strong>
                            <p>Водопад находится между отрогом Великого Верха  и горой Гымба. Шипот представляет собой трехступенчатый каскад, низвергающийся в узком обрывистом ущелье и зажатый с обеих сторон крутыми уступами скал.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="image/otduh_v_karpatah7.jpg" alt="">
                        </div>
                        <div class="col-md-4">
                            <h3>СЕЛО НИЖНЕЕ</h3>
                            <strong>В селе расположена сыроварня, где все производство проходит по уникальной швейцарской технологии.</strong>
                            <p>Здесь можно не только узнать об этом процессе, но и продегустировать и приобрести уникальные сорта сыра.
                                Можно заехать на страусиную ферму и в заповедник, где разводят диких оленей.</p>
                        </div>
                        <div class="col-md-4">
                            <img src="image/otduh_v_karpatah8.jpg" alt="">
                        </div>
                        <div class="col-md-4">
                            <h3>ХУСТ И РАЙОН</h3>
                            <strong>Хуст расположен у живописного подножия гор, в том месте, где сливаются реки Река и Тиса.</strong>
                            <p>Это единственное место в Европе, где растут дикорастущие остролистые белые нарциссы. Долина является заповедником, поэтому рвать цветы здесь строго запрещено. Недалеко от Хуста находится село Иза — современная закарпатская столица сувениров и изделий из лозы.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--get place-->
    <div class="get-place">
        <div class="line"></div>
        <div class="container">
            <h2>Как добраться в отель Reikartz Карпаты</h2>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <dl>
                    <dt>Вариант 1. Поездом</dt>
                    <dd>Поездом № 99, 207 «Киев — Ужгород» до станции Воловец. Далее на маршрутном такси или автобусе до поселка Ждениево (24 км).
                        Трансфер Воловец-Ждениево можно заказать в отеле (при предварительном уведомлении о приезде).</dd>
                    <dd>С Одессы до Воловца можно доехать на поезде 108, с Харькова на поезде 235 или 113 также можно добраться до Воловца. С других городов на поезде стоит ехать во Львов.</dd>
                    <dt>Вариант 2. На автомобиле</dt>
                    <dd>Автомобилем по трассе М 06 Киев-Чоп через города Житомир, Ровно, Львов до села Нижние Ворота, Закарпатской области (714 км). После села Нижние ворота плавный поворот направо на трассу T0709/Т1409 и двигаться до развилки с трассой T0722 (7,3 км). Свернуть направо на трассу Т0722 и двигаться 3,31 км мимо поселка Ждениево. После горнолыжного спуска повернуть налево в отель Reikartz Карпаты.</dd>
                </dl>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <dl>
                    <dt>Вариант 3. Самолетом до города Львов</dt>
                    <dd>От Львова до Ждениево 190 км — 3 часа на машине или 4 часа на автобусе.
                        На электричке: Львов — Мукачево до остановки ст. Воловец, далее на маршрутном такси или автобусе до поселка Ждениево (24 км).
                        Трансфер Львов-Ждениево можно заказать в отеле (при предварительном уведомлении о приезде).</dd>
                </dl>
                <dl>
                    <dt>Другие варианты трансфера (при предварительном уведомлении о приезде):</dt>
                    <dd>Ужгород<=>Ждениево.</dd>
                    <dd>Мукачево<=>Ждениево. </dd>
                    <dd>Поляна<=>Ждениево.</dd>
                </dl>
            </div>
        </div>
    </div>