@font-face {
    font-family: Bangkok;
    src: url('../fonts/Bangkok_Cyr.eot');
    src: url('../fonts/Bangkok_Cyr.otf');
    src: url('../fonts/Bangkok_Cyr.svg');
    src: url('../fonts/Bangkok_Cyr.ttf');
    src: url('../fonts/Bangkok_Cyr.woff');
}

.form-group input::-webkit-input-placeholder,
.form-group textarea::-webkit-input-placeholder {
  color: #fff;
}
.form-group input::-moz-placeholder,
.form-group textarea::-moz-placeholder {
  color: #fff;
}
.form-group input:-ms-input-placeholder,
.form-group textarea:-ms-input-placeholder {
  color: #fff;
}
.form-group input:-moz-placeholder,
.form-group textarea:-moz-placeholder {
  color: #fff;
}

html {height: 100%}
body {
    height: 100%;
    font-family: "Bangkok" ,"sans-serif";
    color: #2d0f03 !important;
    background-color: #2d0f03;
}


/* bootstrap fix */
a:focus {
    text-decoration: none;
    color: #fff;
    outline: none;
}

.navbar {
    border-radius: 0;
}
.nav>li>a {
    display: inline-block;
    padding: 0;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}
.navbar-toggle {
    border: 1px solid #fff;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
/* navbar collpse fix*/
@media (max-width: 969px) {
        .navbar-header {
            float: none;
        }
        .navbar-left,.navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
            z-index: 1;
        }
        .navbar-collapse.collapse {
            display: none!important;
            max-height: 100%;
        }
        .navbar-nav {
            float: none!important;
            margin: 7.5px auto 0;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .collapse.in{
            display:block !important;
        }
        .navbar-default .navbar-nav>li>a.callback {
            margin: 0 auto;
        }
        .navbar-default .navbar-toggle {
            float: left;
            margin-left: 15px;
        }
        .new-nav .nav li:first-child a.active:before,
        .new-nav .nav li:last-child a.active:before,
        .new-nav .nav li:last-child a.active:after, /*{
            display: none;
        }*/
        .new-nav .navbar-nav li.header-logo.active a:before,
        .new-nav .navbar-nav li.header-logo.active a:after {
            display: none;
        }
        .new-nav .navbar-nav li.header-logo {
            height: 30px;
        }
        .new-nav .navbar-nav>li, .new-nav .navbar-nav li:first-child {
            float: none;
            padding-top: 0;
            margin: 0 auto;
        }
        .new-nav.navbar-default .navbar-nav>li>a {
            font-size: 10.95pt;
            line-height: 40px;
        }
        .new-nav .active a:before {
            content: '';
            top: -8px;
        }

        .new-nav .active a:after {
            content: '';
            bottom: -8px;
        }
        .new-nav .callback span {
            line-height: 16px;
        }
    }


/* bootstrap end fix */



/* header */
nav.navbar {
    background-color: #2d0f03;
}

.logo {
    position: absolute !important;
    overflow: visible;
    left: -75px;
    top: -31px;
    width: 160px;
    height: 176px;
    background: url("../images/logo.png") 0 0 no-repeat;
}

.header-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    max-width: 1132px;
    width: 100%;
    min-height: 100px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.header-menu li:first-child {
    width: 50px;
}

.header-menu .link, .header-menu .link:hover,
.header-menu .link:focus {
    text-transform: uppercase;
    font-size: 22px;
    color: #fff;
}

.link-wrap {
    min-width: 100px;
    height: 50px;
    background: url("../images/icon_pen.png") 50% 100% no-repeat;
}

.header_img_wrap {
    height: 100%;
}
.header_img {
    width: 100%;
    height: 100%;
    background: url("../images/header_img.jpg") 0 0 no-repeat;
    background-size: cover;
    background-position: 65% 0;
}
.header-text {
    position: absolute;
    bottom: 10%;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.order-wrap {
    position: fixed;
    top: 26%;
    right: 0;
    width: 160px;
    z-index: 10;
}
.order {
    position: relative;
    background-color: #ff8400;
}
.order:before {
    content: '';
    position: absolute;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 25px;
    border-color: rgba(255, 132, 0, 1) rgba(0, 0, 0, 0) rgba(255, 132, 0, 1) rgba(255, 123, 0, 0);
}
.order .text {
    display: flex;
    align-items: center;
    height: 100px;
    /*margin: 16px 0;*/
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
}
.order .text:hover {
    text-decoration: none;
}

/* main */

.main-wrap {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

/*content*/
.content-block {
    width: 100%;
    background: url("../images/block_bg.jpg") 0 0 repeat-y;
    /*background-size: cover;*/
}

.header {
    margin: 0 0 30px;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

/* about */
.about {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
    padding-top: 94px;
    text-align: center;
}

.about .text {
    margin-bottom: 0;
    font-size: 18px;
}

.about-icon {
    margin: 70px auto 0;
    width: 237px;
    height: 242px;
    background: url("../images/icons_block.png") 0 0 no-repeat;
}

/* gallery */
.gallery {
    max-width: 1300px;
    margin-top: 140px;
}

.gallery .about-icon {
    margin: 54px auto 0;
    width: 237px;
    height: 242px;
    background: url("../images/icons_block.png") 0 50% no-repeat;
}
.gallery1 {
    height: 260px;
    background: url("../images/IMG_1.jpg") 0 0 no-repeat;
        background-size: cover;
}.gallery2 {
    height: 260px;
    background: url("../images/IMG_2.jpg") 0 0 no-repeat;
        background-size: cover;
}.gallery3 {
    height: 260px;
    background: url("../images/IMG_3.jpg") 0 0 no-repeat;
        background-size: cover;
}.gallery4 {
    height: 260px;
    background: url("../images/IMG_4.jpg") 0 0 no-repeat;
        background-size: cover;
}.gallery5 {
    height: 260px;
    background: url("../images/IMG_5.jpg") 0 0 no-repeat;
        background-size: cover;
}

/* video */
.video {
    margin: 110px auto 0;
    max-width: 680px;
}

.video-block {
    position: relative;
    height: 0;
    overflow: hidden;
    padding: 0 0 56.25%;
}

.video-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video .about-icon {
    margin: 0 auto;
    width: 237px;
    height: 242px;
    background: url("../images/icons_block.png") 0 100% no-repeat;
}

/* menu */
.menu {
    position: relative;
}

.menu-wrap {
    position: relative;
    max-height: 644px;
}

.menu-description {
    position: absolute;
    left: 0;
    top: 64px;
    width: 472px;
    padding: 16px 25px 16px 84px;
    background-color: rgba(45,13,3, .7);
}
.menu-description .header,
.menu-description .text {
    text-align: right;
    color: #fff;
}

.menu-description .header {
    margin-bottom: 20px;
    font-size: 20px;
}
.menu-description .text {
    font-size: 16px;
}

.menu-all, .booking {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(255,132,0, .5);
    border: none;
}

.menu-all:hover,
.booking:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff8400;
}

/* form */
.booking-form {
    margin: 0 0 126px;
}

.booking-form .header {
    margin: 70px auto 62px;
}

.form-wrap {
    min-height: 500px;
    height: 100%;
    background: url("../images/form_bg.jpg") 0 0 no-repeat;
}

.form-wrap form {
    position: relative;
}

.block-wrap {
    max-width: 557px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 74px;
}

.form-control {
    height: 40px;
    padding: 6px 4px;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.group-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.group-line input {
    width: 180px;
}

.form-group textarea {
    height: 146px;
    overflow-y: scroll;
    resize: none;
}

/* map */
.map {
    margin-bottom: -6px;
}

/* footer */
footer {
    min-height: 144px;
    background: url("../images/form_bg.jpg") 0 0 no-repeat;
    background-size: cover;
}

.info-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height: 144px;
    max-width: 1155px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    color: #fff;

}

.info-wrap .list {
    display: flex;
    align-items: center;
    list-style: none;
}

.info-wrap .text {
    margin: 0;
    width: 75%;
    font-size: 16px;
    color: #fff;
}

.adress {
    max-width: 440px;
}
.phone {
    max-width: 214px;
}
.schedule {
    max-width: 290px;
}
.social {
    max-width: 54px;
}

.adress, .phone,
.schedule, .social {
    width: 100%;
}

.icon-map, .icon-phone, .icon-time, .icon-social {
    display: block;
    float: left;
    margin-right: 10px;
    width: 54px;
    height: 54px;
    background: url("../images/icons_footer.png") 2% 50% no-repeat;
}
.icon-phone {
    width: 56px;
    background: url("../images/icons_footer.png") 34% 50% no-repeat;
}.icon-time {
    background: url("../images/icons_footer.png") 65% 50% no-repeat;
}.icon-social {
    margin-right: 0;
    background: url("../images/icons_footer.png") 97% 50% no-repeat;
}


 /* media */

@media all and (max-width: 600px) {
    .header {
        font-size: 38px;
    }
    .menu-description, .menu-all {
        position: relative;
    }.menu-description {
        width: 100%;
        float: left;
        bottom: 0;
        top: 0;
        padding-left: 25px;
    }
}


@media all and (max-width: 960px) {
    .header-menu, .group-line {
        flex-direction: column;
    }.header-menu li:first-child {
        display: none;
    }
    .group-line input {
        width: 100%;
        margin-bottom: 15px;
    }.group-line input:last-child {
        margin-bottom: 0;
    }
    .block-wrap {
        padding: 8px 0;
        height: 100%;
    }
    .booking {
        position: relative;
    }
    .slick-prev {
        left: 20px;
    }
    .slick-next {
        right: 20px;
    }

    .video-block iframe {
        /*min-height: 260px; ---????*/
    }
}

@media all and (max-width: 1014px) {
    .info-wrap {
        flex-direction: column;
        padding: 20px 0;
    }
    .info-wrap .list {
        justify-content: center;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .icon-social {
        margin-right: 10px;
    }
}
