{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#4D4D4D">

<link rel="stylesheet" href="{% static "style/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.classycountdown.min.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox-buttons.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox-thumbs.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "style/scroll-down.css" %}">
<link rel="stylesheet" href="{% static "style/slick-theme.css" %}">
<link rel="stylesheet" href="{% static "style/slick.css" %}">
<link rel="stylesheet" href="{% static "style/main-style.css" %}">