{% load static %}

<!doctype html>
<html>
    <head>
        <title>karpaty</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{% static "style/main-style.css" %}">
        {% include "head.html" %}

    </head>
    <body>
        {% comment %}{% block header %}
        {% endblock header %}
            {% include "header.html" %}
            {% include "aboutus.html" %}
            <main id="section">
            <div class="container_oll_height">
                {% include "rooms/../../rooms/templates/rooms.html" %}
            </div>
        </main>

    {% block socauth %}{% endblock socauth %}{% endcomment %}

    </body>
</html>
