{% load staticfiles %}

<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
                    <div class="row">
                    <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav menu">
                            <li class="active hidden-xs hidden-sm"><a href="#">ГЛАВНАЯ</a></li>
                            <li>
                                <a href="#room" class="visible-md visible-lg">номера</a>
                                <a class=" visible-xs visible-sm">номера</a>
                                <ul class="submenu visible-xs visible-sm">
                                    <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category1">Классик</a></li>
                                    <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category2">Классик Twin</a></li>
                                    <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category3">Стандарт</a></li>
                                    <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category4">Супериор</a></li>
                                    <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category5">Полулюкс</a></li>
                                    <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category6">Люкс</a></li>
                                </ul>
                            </li>
                            <li><a href="#hotel-service">услуги отеля</a></li>
                            <li><a href="#gallery">фото</a></li>
                            <li class="hidden-xs hidden-sm"><a href="#hotel-map">карта отеля</a></li>
                            <li class="hidden-xs hidden-sm"><a href="#attraction">ЭКСКУРСИИ ИЗ ОТЕЛЯ</a></li>
                            <li><a href="#contacts">контакты</a></li>
                            <li class="callback visible-md visible-lg">
                                <a href="#">
                                    <span class="call"></span>
                                    <div class="call-txt">
                                        <span>+38 067 556 59 02</span>
                                        <p class="text">Перезвонить мне</p>
                                    </div>
                                </a>
                                <div class="callbackform">
                                    <form class="get-info" action="" method="POST">
                                        <input type="hidden" name="_subject" value="karpaty-perezvonite-mne" />
                                        <h4>Ваши обращения очень важны для нас!<br>
                                            Менеджер работает в будние дни с 9:00 до 18:00. Хотите, чтобы Вам перезвонили? Просто оставьте Ваш номер – мы свяжемся с Вами максимально оперативно.</h4>
                                        <div class="form-group">
                                            <input id="callback" name="phone" type="tel" class="form-control" placeholder="+ 380 ___-__-__">
                                        </div>
                                        <button type="submit" class="btn btn-default" value="Send">Отправить</button>
                                    </form>
                                </div>
                            </li>
                            <li class="visible-xs visible-sm">
                                <a href="" data-toggle="modal" data-target="#bookingRules">Условия бронирования</a>
                            </li>
                            <li>
                                <a class="fb" href="https://www.facebook.com/ReikartzKarpaty/?fref=ts" target="_blank"></a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                    </div>
                </div><!-- /.container-fluid -->
    </nav>
</header>
<main>
    <!--top banner slider-->
    <div class="banner-wrap">
        <div class="banner">
            <div class="banner-inf-wrap">
                <img src="image/baner-top1.jpg" alt="">
                <div class="banner-inf">
                    <h1>Отель «Reikartz Карпаты»</h1>
                    <p>Бассейн, сауна и множество развлечений - уже в стоимости номера!</p>
                </div>
            </div>
            <div class="banner-inf-wrap">
                <img src="image/baner-top2.jpg" alt="">
                <div class="banner-inf">
                    <h1>Отель «Reikartz Карпаты»</h1>
                    <p>Экскурсии, походы в горы, велопрогулки!</p>
                </div>
            </div>
            <div class="banner-inf-wrap">
                <img src="image/baner-top1.jpg" alt="">
                <div class="banner-inf">
                    <h1>Отель «Reikartz Карпаты»</h1>
                    <p>Отдых с детьми - легко и без забот! Аниматоры все сделают!</p>
                </div>
            </div>
            <div class="banner-inf-wrap">
                <img src="image/baner-top3.jpg" alt="">
                <div class="banner-inf">
                    <h1>Отель «Reikartz Карпаты»</h1>
                    <p>Крытый бассейн с морской водой - море круглый год!</p>
                </div>
            </div>
            <div class="banner-inf-wrap">
                <img src="image/baner-top4.jpg" alt="">
                <div class="banner-inf">
                    <h1>Отель «Reikartz Карпаты»</h1>
                    <p>Отдыхайте среди великолепия Закарпатских гор!</p>
                </div>
            </div>
        </div>
        <section id="section03" class="demo">
            <a href="#room"><span></span></a>
        </section>
    </div>

    <ul class="submenu hide">
        <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category1">Классик</a></li>
        <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category2">Классик Twin</a></li>
        <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category3">Стандарт</a></li>
        <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category4">Супериор</a></li>
        <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category5">Полулюкс</a></li>
        <li><a href="#room_modal" data-dismiss="modal" data-toggle="modal" data-room-id="room_category6">Люкс</a></li>
    </ul>
{#</main>#}