{% load staticfiles %}

<link rel="stylesheet" href="{% static "style/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.classycountdown.min.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox-buttons.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox-thumbs.css" %}">
<link rel="stylesheet" href="{% static "style/jquery.fancybox.css" %}">
<link rel="stylesheet" href="{% static "style/scroll-down.css" %}">
<link rel="stylesheet" href="{% static "style/slick-theme.css" %}">
<link rel="stylesheet" href="{% static "style/slick.css" %}">
<link rel="stylesheet" href="{% static "style/main.css" %}">

<!--google-map-->
    <div class="google-map">
        <iframe class="actAsDiv" width="100%" height="345" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;q=%D1%83%D0%BB.%20%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%BE%2C%20257%2C%20%D0%BF%D0%B3%D1%82.%20%D0%96%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5%D0%B2%D0%BE&amp;aq=0&amp;ie=UTF8&amp;t=m&amp;z=12&amp;iwloc= &amp;output=embed"></iframe>
    </div>

<footer>
    <a id="contacts"></a>
    <div class="footer-info">
        {% for inf in Contacts %}
            <h6><u>{{ inf.head }}</u></h6>
            <p>{{ inf.adress }}</p>
            <span>{{ inf.phone }}</span>
            <h6><u>GPS координаты:</u></h6>
            <span>{{ inf.gps_coordinates }}</span>
        {% endfor %}
    </div>
    <div class="footer-form">
        <h3>Есть вопросы?</h3>
        <form action="" method="POST">
            <input type="hidden" name="_subject" value="karpaty-questions" />
            <div class="form-group">
                <input type="text" class="form-control user" id="name" placeholder="Ваше имя" name="name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control mail" id="exampleInputEmail1" placeholder="Email" name="email">
            </div>
            <div class="form-group">
                <textarea name="text-message"></textarea>
            </div>
            <button type="submit" class="send" value="Send">Отправить</button>
        </form>
    </div>
</footer>